/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*$primary-color: #f4787f;*/
$primary-color: #F48F78;
$main-font: 'Open Sans', sans-serif;
$standard-spacing: .5px;
$standard-line-height: 1.5;
$header-color: #6d7276;
$body-color: #6d7276;
$grey-bg: #f9fbfc;
$dark-bg: #51445D;
$event-bg: #ed767c;
$grey-line: #DBE3E9;
$grey-text: #c9d0d6;
$section-padding: 140px;
$btn-transition: 0.2s;

body{
	background-color: $primary-color;
}

h1, h2, h3, h4, h5, p, a, ol li,ul li,li{
	font-family: $main-font;
	font-weight: 300;
	line-height: $standard-line-height;
	color: $header-color;
}

p, ol li, h3,input, textarea, ul li{
	color: $body-color;
	font-size: 18px;
	letter-spacing: $standard-spacing;
}

strong{
	font-weight: 600;
}

a, a:hover{
	color: $primary-color;
	font-weight: 400;

}

.btn, .btn:hover, .btn:focus{
	color: #fff;
	text-transform:uppercase;
	border-radius: 100px;
	padding: 16px 45px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: $standard-spacing;
	box-shadow: none;

}

.btn-small, .btn-small:hover, .btn-small:focus{
	padding: 12px 30px;
	background-color: #fff;
	color: $primary-color;
	margin-top: 10px;
}


.btn-small:hover{
	background-color: #f8f8f8;
}

form{
	margin-bottom: 80px;
}

input, textarea{
	width: 100%;
	padding: 16px 0;
	border:1px $grey-line solid;
	border-radius: 4px;
	padding-left: 20px;
	margin-top: 20px;
	font-size: 15px;
	font-family: $main-font;
}

::-webkit-input-placeholder {
   color: $grey-text;
}

:-moz-placeholder { /* Firefox 18- */
    color: $grey-text;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $grey-text;  
}

:-ms-input-placeholder {  
    color: $grey-text;  
}


textarea{
	height: 150px;
	padding: 20px;
	resize: none;
	font-family: $main-font;
}


html input[type="button"], input[type="reset"], input[type="submit"], html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus{
	color: #fff;
	border: none;
	background-color: $primary-color;
	padding: 25px 0;
	font-weight: 500;
	margin-top: 30px;
	border-radius: 4px;
	font-family: $main-font;
}


.card{

	box-shadow: 0px 0px 25.6px 1.2px rgba(0, 0, 0, 0.07);
	/*box-shadow: 0px 10px 30.14px 4px rgba(0, 0, 0, 0.1)*/
}


.navbar{

	width: 100%;
	background: none;
	border:none;
	margin-bottom: 0;
	padding-bottom: 20px;
	border-radius: 0;
	.navbar-nav .dropdown-menu{
		position: relative;
		float: none;
		background-color: transparent;
		box-shadow: none;
		border: none;
		li a,li a:hover,li a:active,li a:focus{
			background:transparent;
			font-size: 16px;
		}
	}
	.navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
		padding: 0 0 20px 0;
	}

	.navbar-nav>.open>a, .navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:active {
		background: transparent;
		color: #fff;
		border:none;
		font-size: 16px;
		}

	.navbar-nav li a, .navbar-nav li a:hover{
		text-align: center;
		color: #fff;
		border:none;
		padding: 30px;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 2px;
		font-weight: 600;
		opacity: .8;
		margin: 0 auto;
		-webkit-transition: all $btn-transition ease;
		-moz-transition: all $btn-transition ease;
		-o-transition: all $btn-transition ease;
		transition: all $btn-transition ease;
	}
	.navbar-nav li a:hover{
		-webkit-transition: all $btn-transition ease;
		-moz-transition: all $btn-transition ease;
		-o-transition: all $btn-transition ease;
		transition: all $btn-transition ease;
		opacity: 1;
		/*background: rgba(255,255,255,.1);*/

	}
	.navbar-brand{
		padding-top: 34px;
		height: auto;
		margin: 0;
	}

}

/* menu on desktop */

.navbar-header {
	float: none;
}
.navbar-toggle {
	display: block;
	padding-right: 0;
	margin-top: 12px;
}
.navbar-default .navbar-collapse {
	border: none;
}
.navbar-collapse.collapse {
	display: none!important;
}
.navbar-nav {
	float: none!important;
	margin: 7.5px -15px;
}
.navbar-nav>li {
	float: none;
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-collapse.collapse.in {
	display: block !important; 
	border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: none;
}

.navbar-default .navbar-toggle{
	border:none;
}


.bg{
	position: fixed;
	height: 100%;
	width: 100%;
	background: url(../img/bg.jpg);
	background-size: cover;
	z-index: -100;
}

.intro{
	padding: 120px 0 160px;
	text-align: center;
	/*background: url(../img/bg.jpg);*/
	/*background-size: cover;*/
	.intro-center{
		img{
			margin-bottom: 20px;
		}
		h1{
			font-size: 38px;
			color: #fff;
			margin-top: 0;
			font-weight: 300;
		}

		h3{
			text-transform: uppercase;
			font-size: 20px;
			line-height: 1;
			color: #fff;
		}

		ul{
			padding: 0;
		}

		li{
			font-size: 40px;
			list-style-type: none;
			color: #FFFFFF;
			display: none;
			margin-top: -10px;
			font-weight: 300;
		}
		p{
			padding: 15px 0 30px;
			color: #fff;

		}
		.btn{
			border: 2px solid #fff;
			margin-top: 40px;
			letter-spacing: 1px;
			max-width: 100%;
		}
		.btn:hover{
			background: #fff;
			color: #e9747b;
		}

	}
}

.mission{
	padding: $section-padding 0;
	text-align: center;
	background: #fff;
	h1{
		font-size: 23px;
		letter-spacing: $standard-spacing;
		margin-bottom: 20px;
		font-weight: 600;
	}
}

.header{
	font-size: 34px;
	letter-spacing: $standard-spacing;
	text-align: center;
	margin-top: 0;
	font-weight: 400;


}

.header-dash{
	height: 5px;
	width: 50px;
	margin: 0 auto;
	margin-bottom: 20px;
	background: $primary-color
}

.what-we-do{
	padding: $section-padding 0 80px;
	background: #fff;
	border-top: 1px $grey-line solid;
	.header-dash{
		margin-bottom: 0;
	}

	.what-we-do-segment{
		position: relative;
		background-color: #fff;
		z-index: 2;
		padding: 40px 0;
		.block{
			padding: 40px;

			
			.block-img{
				width: 100%;
				height: 100%;
				box-shadow: 0px 10px 60.14px 4px rgba(0, 0, 0, 0.25); 
			}
			.block-inner{
				position: absolute;
			    top: 0;
			    width: 85%;
			    margin-top: 15%;
			    margin-left: 10%;
			    height: 70%;
			    /*box-shadow: 0px 10px 60.14px 4px rgba(0, 0, 0, 0.25); */
				.block-inner-inner{
					display: table;
					background: rgba(244, 120, 127,.9);
					width: 100%;
					height: 100%;
					.block-inner-inner-inner{
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						h1{
							text-align: center;
							color: #fff;
							font-size: 22px;
							letter-spacing: 1.5px;
							font-weight: 400;
						}
					}
				}
			}
		}

		.info{
			position: absolute;
			left: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			padding-left: 80px;
			padding-right: 0;
			p, ol li{
				font-size: 16px;
			}
			ol{

			}
			ol li{
				padding: 5px 0;
			}
			h3{
				font-size: 23px;
				font-weight: 400;
				padding-bottom: 10px;

			}
		}
	}
	.what-we-do-segment-right {
		background: $grey-bg;

		z-index: 1;
		.block{
			float: right;
			.block-inner{
				margin-left:-10%;
			}
		}
		.info{
			padding-left: 0;
			padding-right: 80px;
		}
	}
}

.excited{
	padding: 140px 0;
	background-color:$grey-bg;
	border-top:1px $grey-line solid;
	.header-dash{
		margin-bottom: 0;
	}
	.event-1{
		.event-left{
			background: url(../img/event01-bg.jpg);
		}
	}
	.event-2{
		.event-left{
			background: url(../img/event02-bg.jpg);
		}
	}
	.event-3{
		.event-left{
			background: url(../img/event03-bg.jpg);
		}
	}
	.event{
		text-align: center;
		.event-left{
			min-height: 300px;
			margin-top: 80px;
			padding: 0 ;
			position: relative;
			background-size: cover;
			background-position: 40% 0; 
			.event-left-inner{
				
				position: absolute;
				left: 0;
				top: 50%;
				width: 100%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				h1{
					font-size: 28px;
					font-weight: 600;
					color: #fff;
				}
				p {
					color: #fff;
					text-transform: uppercase;
					font-size: 14px;
					letter-spacing: 2px;
					font-weight: 400;
					/*padding-top: 10px;*/
				}

			}
		}
		.event-right{

			position: relative;
			background: #fff;
			.event-right-inner{
				padding: 80px 20px;
				p{
					font-size: 19px;
				}
			}
		}
	}
}

.cta{
	/*background: $primary-color;*/
	padding: $section-padding 0;
	text-align: center;
	h1{
		font-weight: 400;
		color: #fff;
		font-size: 32px;
	}
	.btn{
		background-color: #fff;
	    width: 300px;
	    max-width: 100%;
	    padding: 18px 0;
	    font-size: 16px;
	    margin-top: 30px;
	    font-weight: 600;
	    color: #f4787f;
		-webkit-transition: all 0.4s ease;
		-moz-transition:  all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}

	.btn:hover{
		background-color: #f8f8f8;
		-webkit-transition: all 0.4s ease;
		-moz-transition:  all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
}

.footer{
	background-color: $grey-bg;
	padding: 80px 0 20px;
	.social-container{
		text-align: center;
	}
	.social{
		padding: 0 10px 80px;
		opacity: .1;
		-webkit-filter: invert(100%);
		-moz-filter:  invert(100%);
		-o-filter: invert(100%);
		filter: invert(100%);

		-webkit-transition: all 0.4s ease;
		-moz-transition:  all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	.social:hover{
		opacity: .4;
		-webkit-transition: all 0.4s ease;
		-moz-transition:  all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	p{
		padding: 0 10px;
		display: inline-block;
		font-weight: 500;
	    opacity: .3;
	    font-size: 12px;
	}
}

.info-page{
	.navbar{
		background-color: $primary-color;
	}
}

.contact-page{
	.bg{
		background: url(../img/thumbs-up.jpg);
		background-size: cover;
		top: -20%; 
	}
	.contact{
		.content{
			
			padding: 80px 0 80px;
			background: #fff;
			.thanks {
				display: none;
				h1{
				font-size: 28px;
				font-weight: 400;
				text-align: center;
				padding: 140px 0;
				margin: 0;
			}

			}
			contact-form-section{
				form .btn{
				font-size: 14px;
			}
			
		}
		}	
		.banner{
			padding: 180px 0 80px;
			background: rgba(81,65,94,.5);
			.header{
				color: #fff;
			}
		}
		

	}
}

.about-page{
	p{
		text-align: left;
		margin: 25px 0;
	}
	.about{
		text-align: center;
		padding: $section-padding 0 280px;
		background: #fff;
		.header-dash{
			margin-bottom: 40px;
		}

		.btn{
			background:$primary-color;
			margin: 0 auto;
			margin-top: 40px;
		}
	}
	.story{
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, #F09A87),
			color-stop(1, #E1787D)
		);
		background-image: -o-linear-gradient(bottom, #F09A87 0%, #E1787D 100%);
		background-image: -moz-linear-gradient(bottom, #F09A87 0%, #E1787D 100%);
		background-image: -webkit-linear-gradient(bottom, #F09A87 0%, #E1787D 100%);
		background-image: -ms-linear-gradient(bottom, #F09A87 0%, #E1787D 100%);
		background-image: linear-gradient(to bottom, #F09A87 0%, #E1787D 100%);
		padding: $section-padding 0;
		h1{
			color:#fff;
			font-size: 55px;
			text-align: right;
			font-weight: 600;
			position: absolute;
			width: 100%;
		}
		img{
			margin-top: -300px;
			margin-bottom: 40px;
			box-shadow: 0px 0px 25.6px 1.2px rgba(0, 0, 0, 0.2);
			padding: 0;
		}
		p{
			color: #fff;
		}
		a{
			font-weight: 700;
			color: #fff;
		}
	}
	.quote{
		padding: $section-padding 0;
		background: #fff;
		h1{
			font-size:24px;
			color: #5b656d;
			opacity: .7;

		}		
	}
	.cta{

	}
}

.event-1{
	.bg{
		background: url(../img/event-1-large-v2.jpg);
		background-size: cover;
		background-repeat: no-repeat; 
	}
}

.event-2{
	.bg{
		background: url(../img/event-2-large.jpg);
		background-size: cover;
		background-repeat: no-repeat; 
	}
}

.accelerator-1{
	.bg{
		background: url(../img/accelerator-1-large.jpg);
		background-size: cover;
		background-repeat: no-repeat; 
	}
}


.event-page{
	/*background:$event-bg;*/
	.segment{
		padding-top: 100px;
		padding-bottom: 100px;
		border-bottom: 1px #e7eff5 solid;
	}
	.header{
		text-transform: uppercase;
		font-weight: 600;
		color: $grey-text;
		text-align: left;
		font-size: 14px;
		margin-bottom: 40px;
	}
	.event-content{

		.banner{
			padding: 140px 0 30px;
			position: relative;
			p{
				font-size: 18px;
				color: #fff;
				font-weight: 400;
				opacity: .8;
			}
			h1{
				color: #fff;
				font-weight: 600;
				font-size: 48px;
			} 
			h2{
				color: #fff;
				font-weight: 400;
				font-size: 24px;
				margin-top: 0;
			}
			.sidebar{
				padding: 0;
				position: absolute;
			    right: 0;
			    bottom: 0;
			    margin-top: 20px;
			    margin-bottom: 8px;
				p{
					padding-top: 0;
					font-size: 12px;
					opacity: .6;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-weight: 600;

				}
				a h1{
					font-size: 20px;
					font-weight: 600;
					opacity: .6;

				}
				a:hover{
					text-decoration: none;

				}
				a h1:hover{
					opacity: 1;
				}

			}
		}
		.inner-content{
			background:$grey-bg;
			margin-top: 100px;
			.large-card{
				margin-top: -100px;
				background: #fff;
				display: block;
				h1{
					font-size: 26px;
					font-weight: 400;
					margin-top: 0;
				}
				.description{
					.row{
						margin: 0;
						.register-container{
							/*text-align: center;*/
							.btn-small{
								background: #fff;
								color: $primary-color;
								border-color: $primary-color;
								margin-top:20px;
							}
							.btn-small:hover{
								background: $primary-color;
								color: #fff;
								border-color: $primary-color;
							}
						}
					}					
				}
				.previous-speakers{
					.carousel{
						.carousel-control{
							background: transparent;
							z-index: 10;
							top: auto;
							bottom: auto;
							width: auto;
							left:auto;
							opacity: .8;
							.arrow{
								top: 0;
								margin: 0;
								margin-top: 40px;
								
							}

						}
						.carousel-control:hover{
							opacity: 1;
						}
						.carousel-inner{
							.col-md-6{
								padding: 0 10px;
							}

							.date{
								font-weight: 400;
								font-size: 24px;
								color: $primary-color;
								margin: 25px 40px 40px;
								opacity: .8;
								padding-left: 10px;
								text-align: center;
							}
							.card{
								text-align: center;
								padding: 70px 20px;
								background: #fff;
								margin-bottom: 10px;
								min-height: 430px;
								.speaker-pic{
									width: 100px;
									border-radius: 100%;
								}
								h1{
									font-size: 26px;
									font-weight: 400;
									margin-bottom: 5px;
								}
								.occupation{
									text-align: center;
									color: $body-color;
									opacity: .5;
									font-size: 12px;
									margin: 10px 0 20px;
								}
								.quote{
									font-style: italic;
									font-weight: 400;
									opacity: .8;
									padding: 20px 0 20px;
								}
								.social{
									-webkit-filter: invert(100%);
									-moz-filter:  invert(100%);
									-o-filter: invert(100%);
									filter: invert(100%);
									opacity: .1;
									width: 40px;
									margin: 10px 10px 0px;
								}
								.social:hover{
									opacity: .2;
								}
							}
						}
					}	
				}
				.more-info{
					h1{
						margin: 80px 0 15px;
					}
				}
				.prices{
					h1, h2{
						font-size: 24px;
						font-weight: 400;
						opacity: .6;

					}
					h2{
						font-size: 40px;
						color: $primary-color;
						opacity: 1;
						margin-top: 0;
						padding-bottom: 20px;

					}
				}
				.what-people-thought{
					.quote{
						font-weight: 400;
						font-size: 18px;
						opacity: .8;
						font-style: italic;
						line-height: 1.5;
						padding: 10px 0;
					}
				}
			}
		}
	}
	.cta{
		/*background: rgba(234,117,123,.8);*/
		.thanks-signup{
			display: none;
		}
		.signup-section{

			input{
				margin-top: 40px;
				height: 70px;
				font-size: 18px;
				padding-left: 25px;
				background:transparent;
				border: 2px solid #fff;
				color: #fff;
			}
			::-webkit-input-placeholder {
			   color: #fff;
			   opacity: .8;
			}

			:-moz-placeholder { /* Firefox 18- */
			    color: #fff; 
			    opacity: .8;
			}

			::-moz-placeholder {  /* Firefox 19+ */
			    color: #fff;
			    opacity: .8;
			}

			:-ms-input-placeholder {  
			    color: #fff;
			    opacity: .8;
			}

			.btn-email{
				background-color: #fff;
			    padding: 18px 0;
			    font-size: 16px;
			    font-weight: 700;
			    color: #f4787f;
			    text-transform: uppercase;
				-webkit-transition: all 0.4s ease;
				-moz-transition:  all 0.4s ease;
				-o-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}
			.btn-email:hover{
				background-color: #f8f8f8;
				-webkit-transition: all 0.4s ease;
				-moz-transition:  all 0.4s ease;
				-o-transition: all 0.4s ease;
				transition: all 0.4s ease;
			}
		}
	}
}
.accelerator-1{
	.cta {
		h1{
			font-size: 28px;
			margin-bottom: 20px;
		}
		.signup-section input {
			margin-top: 20px;
		}
	}
}

@media (max-width: 1170px){
	.what-we-do{
		.what-we-do-segment{
			.block {
				.block-inner {
					.block-inner-inner{ 
						.block-inner-inner-inner{
							 h1{
							 	font-size: 18px;
							 	}
							}
						}
					}
				}
			.info{
				h3{
					font-size: 20px;
				}
				p, ol li{
					font-size: 16px;
				}
			}
		}
	}
	.about-page{
		.story{
			h1{
				font-size: 44px;
				text-align: left;
			}
			img{
				margin-bottom: 80px;
			}
		}
	}
}

@media (max-width: 992px){
	.what-we-do{
		padding-bottom: 0;
		.what-we-do-segment-right {
			.block{
				/*float: none;*/
				.block-inner{
					margin-left: -15% !important;
				}
			}
			.info{
				padding: 60px 10px 80px;
			}
		}
		.what-we-do-segment{
			
			.block{
				padding: 0;
				.block-img{
					box-shadow: 0px 0px 25.6px 1.2px rgba(0, 0, 0, 0.07);
				}
				.block-inner{
					margin-left: 30%;
					.block-inner-inner{ 
						.block-inner-inner-inner{
							 h1{
							 	font-size: 22px;
							 	}
							}
						}
				}
			}

			.info{
				
				position: relative;
				transform: none;
				padding: 40px 10px 100px;
				h3{
					font-size: 18px;
					
				}
				p, ol li{
					font-size: 16px;
					
				}
			}
		}
	}
	.about-page{
		.about{
			padding: 100px 0 240px;
		}
		.story{
			padding-bottom: 100px; 
			.story-text{
				float: right;
			}
		}
		.quote{
			padding: 100px 0; 
			h1{
				font-size: 22px;
			}
		}
	}
	.event-page{
		.segment{
			padding-top: 80px;
			padding-bottom: 80px;
		}
		.event-content{
			.banner{
				h1{
					font-size: 32px;
					padding-bottom: 0px;
				}
				.sidebar{
					position: relative;
					padding: inherit;
					text-align: right;
					h1{
					margin-top: 5px;
					padding-bottom: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 768px){

	.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
		color: #fff;
		padding: 0 0 20px 0;
	}

	.dropdown-menu>li>a{
		white-space: normal;
	}

	p, ul li{
		font-size: 16px;
	}
	.header{
		font-size: 28px;
	}
	.intro{
		padding: 60px 0 120px;
		.intro-center{
			h1{
				font-size: 32px;
			}
			li{
				font-size: 32px;
			}
		}
	}
	.mission{
		padding: 100px 0;
		h1{
			font-size: 20px;
		}
	}


	.what-we-do{
		padding-top: 100px;
		.header-dash{
			margin-bottom: 40px;
		}
		.what-we-do-segment-right {
			.block{
				float: none;
				.block-inner{
					
					margin-left: 0 !important;
				}
			}
		}
		.what-we-do-segment{
			padding: 0;
			.block{
				.block-inner{
					margin-left: 15%;
					margin-top: 10%;
					height: 80%;
				}
			}
			.info{
				position: relative;
				
				h3{
					color: $body-color;
				}
				p, ol li{

					color: $body-color;
				}
			}
		}
	}
	.excited{
		padding: 100px 0;
		.event{
			.event-left{
				margin-top: 40px;
			}
			.event-right{
				.event-right-inner{
					p{
						font-size: 17px;
					}
				}
			}
		}
	}
	.cta{
		padding: 100px 0;
		h1{
			font-size:32px;
		}
	}
	.contact-page{
		.bg{
			background-position:50% 0;
		}
		.contact{
			.banner{
				padding: 120px 0 60px;
				.header{
					font-size: 24px;
				}
			}
		}
	}
	.about-page{
		.story{
			h1{
				position: relative;
				text-align: left;
			}
		}
	}

	
}

