/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*$primary-color: #f4787f;*/
$primary-color: #F48F78;
$main-font: 'Open Sans', sans-serif;
$standard-spacing: .5px;
$standard-line-height: 1.5;
$header-color: #777;
$body-color: #777;
$grey-bg: #f9fbfc;
$dark-bg: #51415E;
$grey-line: #ebebeb;
$section-padding: 140px;
$btn-transition: 0.2s;



h1, h2, h3, h4, h5, p, a, ol li,ul li,li{
	font-family: $main-font;
	font-weight: 300;
	line-height: $standard-line-height;
	color: $header-color;
}

p, ol li, h3,input, textarea{
	color: $body-color;
	font-size: 17px;
	letter-spacing: $standard-spacing;
}

strong{
	font-weight: 600;
}

a, a:hover{
	color: $primary-color;
	font-weight: 400;

}

.btn, .btn:hover, .btn:focus{
	color: #fff;
	text-transform:uppercase;
	border-radius: 100px;
	padding: 16px 45px;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: $standard-spacing;
	box-shadow: none;

}

.btn-small,.btn-small:hover, .btn-small:focus{
	padding: 12px 30px;
}

form{
	margin-bottom: 80px;
}

input, textarea{
	width: 100%;
	padding: 20px 0;
	border:1px #ddd solid;
	border-radius: 4px;
	padding-left: 20px;
	margin-top: 20px;
	font-size: 16px;
	font-family: $main-font;
}


textarea{
	height: 150px;
	padding: 20px;
	resize: none;
	font-family: $main-font;
}


html input[type="button"], input[type="reset"], input[type="submit"], html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus{
	color: #fff;
	border: none;
	background-color: $primary-color;
	padding: 25px 0;
	font-weight: 500;
	margin-top: 30px;
	border-radius: 4px;
	font-family: $main-font;
}


.card{

	box-shadow: 0px 0px 25.6px 1.2px rgba(0, 0, 0, 0.07);
	/*box-shadow: 0px 10px 30.14px 4px rgba(0, 0, 0, 0.1)*/
}


.navbar{

	width: 100%;
	background: none;
	border:none;
	margin-bottom: 0;
	padding-bottom: 20px;
	border-radius: 0;
	.navbar-nav li a, .navbar-nav li a:hover{
		text-align: center;
		color: #fff;
		border: 2px #fff solid;
		border-color: transparent;
		padding: 30px;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 2px;
		font-weight: 600;

		margin: 0 auto;
		-webkit-transition: all $btn-transition ease;
		-moz-transition: all $btn-transition ease;
		-o-transition: all $btn-transition ease;
		transition: all $btn-transition ease;
	}
	.navbar-nav li a:hover{
		-webkit-transition: all $btn-transition ease;
		-moz-transition: all $btn-transition ease;
		-o-transition: all $btn-transition ease;
		transition: all $btn-transition ease;
		/*background: rgba(255,255,255,.1);*/

	}
	.navbar-brand{
		padding-top: 34px;
		height: auto;
		margin: 0;
	}

}

.navbar-header {
	float: none;
}
.navbar-toggle {
	display: block;
	padding: 0;
	margin-top: 28px;
}
.navbar-default .navbar-collapse {
	border: none;
}
.navbar-collapse.collapse {
	display: none!important;
}
.navbar-nav {
	float: none!important;
	margin: 7.5px -15px;
}
.navbar-nav>li {
	float: none;
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-collapse.collapse.in {
	display: block !important; 
	border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: none;
}

.navbar-default .navbar-toggle{
	border:none;
}


.bg{
	position: fixed;
	height: 100%;
	width: 100%;
	background: url(../img/bg.jpg);
	background-size: cover;
	z-index: -100;
}

.intro{
	padding: 100px 0 160px;
	text-align: center;
	/*background: url(../img/bg.jpg);*/
	/*background-size: cover;*/
	.intro-center{
		img{
			margin-bottom: 20px;
		}
		h1{
			font-size: 40px;
			color: #fff;
			margin-top: 0;
		}

		h3{
			text-transform: uppercase;
			font-size: 20px;
			line-height: 1;
			color: #fff;
		}

		li{
			font-size: 42px;
			list-style-type: none;
			color: #FFFFFF;

			display: none;
			margin-top: -10px;
		}
		p{
			padding: 15px 0 30px;
			color: #fff;

		}
		.btn{
			border: 2px solid #fff;
			margin-top: 40px;
			font-weight: 400;
			letter-spacing: 1px;
		}
		.btn:hover{
			background: #fff;
			color: #e9747b;
		}

	}
}

.mission{
	padding: $section-padding 0;
	text-align: center;
	background: #fff;
	h1{
		font-size: 23px;
		letter-spacing: $standard-spacing;
		margin-bottom: 20px;
		font-weight: 600;
	}
}

.header{
	font-size: 34px;
	letter-spacing: $standard-spacing;
	text-align: center;
	margin-top: 0;
	font-weight: 400;


}

.header-dash{
	height: 5px;
	width: 50px;
	margin: 0 auto;
	margin-bottom: 20px;
	background: $primary-color
}

.what-we-do{
	padding-top: $section-padding;
	background: #fff;
	border-top: 1px $grey-line solid;

	.what-we-do-segment{
		position: relative;
		background-color: #fff;
		z-index: 2;

		.block{
			padding: 40px;

			
			.block-img{
				width: 100%;
				height: 100%;
				box-shadow: 0px 10px 60.14px 4px rgba(0, 0, 0, 0.25); 
			}
			.block-inner{
				position: absolute;
			    top: 0;
			    width: 85%;
			    margin-top: 15%;
			    margin-left: 40px;
			    height: 70%;
			    /*box-shadow: 0px 10px 60.14px 4px rgba(0, 0, 0, 0.25); */
				.block-inner-inner{
					display: table;
					background: rgba(244, 120, 127,.9);
					width: 100%;
					height: 100%;
					.block-inner-inner-inner{
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						h1{
							text-align: center;
							color: #fff;
							font-size: 22px;
							letter-spacing: 1.5px;
							font-weight: 400;
						}
					}
				}
			}
		}

		.info{
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			padding-left: 80px;
			padding-right: 0;
			p, ol li{
				font-size: 16px;
			}
			ol{

			}
			ol li{
				padding: 5px 0;
			}
			h3{
				font-size: 23px;
				font-weight: 400;
				padding-bottom: 10px;

			}
		}
	}
	.what-we-do-segment-right {
		background: $grey-bg;

		z-index: 1;
		.block{
			float: right;
			.block-inner{
				margin-left:-45px;
			}
		}
		.info{
			padding-left: 0;
			padding-right: 80px;
		}
	}
}

.excited{
	padding: 140px 0;
	background-color:$grey-bg;
	border-top:1px $grey-line solid;
	.header-dash{
		margin-bottom: 0;
	}
	.event-1{
		.event-left{
			background: url(../img/event01-bg.jpg);
		}
	}
	.event-2{
		.event-left{
			background: url(../img/event02-bg.jpg);
		}
	}
	.event{
		text-align: center;
		.event-left{
			height: 300px;
			margin-top: 80px;
			padding: 0;
			position: relative;
			background-size: cover;
			background-position: 40% 0; 
			.event-left-inner{
				padding: 0 80px;
				position: absolute;
				left: 0;
				top: 50%;
				width: 100%;
				transform: translateY(-50%);
				h1{
					font-size: 28px;
					font-weight: 600;
					color: #fff;
				}
				p {
					color: #fff;
					text-transform: uppercase;
					font-size: 14px;
					letter-spacing: 2px;
					font-weight: 400;
					/*padding-top: 10px;*/
				}
				.btn-small{
					background-color: #fff;
					color: $primary-color;
					margin-top: 10px;
				}
				.btn-small:hover{
					background-color: #f8f8f8;
				}
			}
		}
		.event-right{

			position: relative;
			background: #fff;
			.event-right-inner{
				padding: 80px 20px;
				p{
					font-size: 20px;
				}
			}
		}
	}
}

.cta{
	/*background: $primary-color;*/
	padding: $section-padding 0;
	text-align: center;
	border-top: 1px $grey-line solid;
	h1{
		font-weight: 400;
		color: #fff;
		font-size: 32px;
	}
	.btn{
		background-color: #fff;
	    width: 300px;
	    max-width: 100%;
	    padding: 22px 0;
	    font-size: 16px;
	    margin-top: 30px;
	    font-weight: 600;
	    color: #f4787f;
		-webkit-transition: all 0.4s ease;
		-moz-transition:  all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}

	.btn:hover{
		background-color: #f8f8f8;
		-webkit-transition: all 0.4s ease;
		-moz-transition:  all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
}

.footer{
	background-color: $dark-bg;
	padding: 80px 0;
	.social-container{
		text-align: center;
	}
	.social{
		padding: 0 10px;
		opacity: .8;
	}
	.social:hover{
		opacity: 1;
	}
}

.info-page{
	.navbar{
		background-color: $primary-color;
	}
}

.contact-page{
	.bg{
		background: url(../img/thumbs-up.jpg);
		background-size: cover;
		top: -20%; 
	}
	.contact{
		.content{
			padding: 80px 0 $section-padding;
			background: #fff;
			form .btn{
				font-size: 14px;
		}
		}	
		.banner{
			padding: 110px 0;
			background: rgba(81,65,94,.5);
			.header{
			color: #fff;
			}
		}
		

	}
}


@media (max-width: 1170px){
	.what-we-do{
		.what-we-do-segment{
			.block {
				.block-inner {
					.block-inner-inner{ 
						.block-inner-inner-inner{
							 h1{
							 	font-size: 18px;
							 	}
							}
						}
					}
				}
			.info{
				h3{
					font-size: 18px;
				}
				p, ol li{
					font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: 992px){
	.what-we-do{
		.what-we-do-segment-right {
			.block{
				float: none;
				.block-inner{
					margin-left: 0 !important;
				}
			}
			.info{
				padding: 60px 10px 80px;
			}
		}
		.what-we-do-segment{
			padding: 80px 0;
			.block{
				padding: 0;
				.block-img{
					box-shadow: 0px 0px 25.6px 1.2px rgba(0, 0, 0, 0.07);
				}
				.block-inner{
					margin-left: 15%;
					margin-top: 10%;
					height: 80%;
					.block-inner-inner{ 
						.block-inner-inner-inner{
							 h1{
							 	font-size: 22px;
							 	}
							}
						}
				}
			}

			.info{
				
				top:0;
				transform: none;
				padding: 60px 10px 80px;
				h3{
					font-size: 18px;
					color:#fff;
				}
				p, ol li{
					font-size: 14px;
					color: #fff;
				}
			}
		}
	}
}

@media (max-width: 768px){
	.contact{
		.header{
			font-size: 28px;
		}
	}
	.what-we-do{
		.what-we-do-segment-right {
			.block{
				.block-inner{
					
					margin-left: 0;
				}
			}
		}
		.what-we-do-segment{
			padding: 0;
			.block{
				.block-inner{
					
				}
			}
			.info{
				position: relative;
				padding: 60px 10px 80px;
				h3{
					color: $body-color;
				}
				p, ol li{
					font-size: 14px;
					color: $body-color;
				}
			}
		}
	}
}

