/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 19, ../sass/screen.scss */
h1, h2, h3, h4, h5, p, a, ol li {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #555;
}

/* line 26, ../sass/screen.scss */
p, ol li, h3 {
  color: #777;
  font-size: 17px;
  letter-spacing: 0.5px;
}

/* line 32, ../sass/screen.scss */
strong {
  font-weight: 600;
}

/* line 36, ../sass/screen.scss */
a, a:hover {
  color: #e9747b;
  font-weight: 400;
}

/* line 42, ../sass/screen.scss */
.btn, .btn:hover, .btn:focus {
  color: #fff;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 15px 45px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  box-shadow: none;
}

/* line 54, ../sass/screen.scss */
.card {
  box-shadow: 0px 0px 25.6px 1.2px rgba(0, 0, 0, 0.07);
  /*box-shadow: 0px 10px 30.14px 4px rgba(0, 0, 0, 0.1)*/
}

/* line 61, ../sass/screen.scss */
.navbar {
  width: 100%;
  background: none;
  border: none;
}
/* line 66, ../sass/screen.scss */
.navbar .navbar-nav li a, .navbar .navbar-nav li a:hover {
  text-align: center;
  color: #fff;
  border: 2px #fff solid;
  border-color: transparent;
  padding: 30px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0 auto;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 83, ../sass/screen.scss */
.navbar .navbar-nav li a:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  /*background: rgba(255,255,255,.1);*/
}
/* line 91, ../sass/screen.scss */
.navbar .navbar-brand {
  padding-top: 34px;
  height: auto;
  margin: 0;
}

/* line 99, ../sass/screen.scss */
.navbar-header {
  float: none;
}

/* line 102, ../sass/screen.scss */
.navbar-toggle {
  display: block;
  padding: 0;
  margin-top: 28px;
}

/* line 107, ../sass/screen.scss */
.navbar-default .navbar-collapse {
  border: none;
}

/* line 110, ../sass/screen.scss */
.navbar-collapse.collapse {
  display: none !important;
}

/* line 113, ../sass/screen.scss */
.navbar-nav {
  float: none !important;
  margin: 7.5px -15px;
}

/* line 117, ../sass/screen.scss */
.navbar-nav > li {
  float: none;
}

/* line 120, ../sass/screen.scss */
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 124, ../sass/screen.scss */
.navbar-collapse.collapse.in {
  display: block !important;
  border: none;
}

/* line 129, ../sass/screen.scss */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: none;
}

/* line 133, ../sass/screen.scss */
.navbar-default .navbar-toggle {
  border: none;
}

/* line 138, ../sass/screen.scss */
.bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url(../img/bg.jpg);
  background-size: cover;
  z-index: -100;
}

/* line 147, ../sass/screen.scss */
.intro {
  padding: 100px 0 160px;
  text-align: center;
  /*background: url(../img/bg.jpg);*/
  /*background-size: cover;*/
}
/* line 153, ../sass/screen.scss */
.intro .intro-center img {
  margin-bottom: 20px;
}
/* line 156, ../sass/screen.scss */
.intro .intro-center h1 {
  font-size: 42px;
  display: inline-block;
  color: #fff;
}
/* line 161, ../sass/screen.scss */
.intro .intro-center p {
  padding: 15px 0 30px;
  color: #fff;
}
/* line 167, ../sass/screen.scss */
.intro .intro-center .btn {
  border: 2px solid #fff;
}
/* line 170, ../sass/screen.scss */
.intro .intro-center .btn:hover {
  background: #fff;
  color: #e9747b;
}

/* line 178, ../sass/screen.scss */
.mission {
  padding: 140px 0;
  text-align: center;
  background: #fff;
}
/* line 182, ../sass/screen.scss */
.mission h1 {
  font-size: 26px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  font-weight: 400;
}

/* line 190, ../sass/screen.scss */
.header {
  font-size: 34px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 0;
}

.intro li{
  font-size: 42px;
  list-style-type: none;
  color: #FFFFFF;
  display: none;
  margin-top: -30px;
}

/* line 199, ../sass/screen.scss */
.header-dash {
  height: 5px;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: #e9747b;
}

/* line 207, ../sass/screen.scss */
.what-we-do {
  padding-top: 140px;
  background: #f9fbfc;
  border-top: 1px #ebebeb solid;
}
/* line 212, ../sass/screen.scss */
.what-we-do .what-we-do-segment {
  position: relative;
  background-color: #fff;
  z-index: 2;
}
/* line 217, ../sass/screen.scss */
.what-we-do .what-we-do-segment .block {
  padding: 0;
  /*box-shadow: 0px 10px 60.14px 4px rgba(0, 0, 0, 0.25); */
}
/* line 221, ../sass/screen.scss */
.what-we-do .what-we-do-segment .block .block-img {
  width: 100%;
  height: 100%;
}
/* line 225, ../sass/screen.scss */
.what-we-do .what-we-do-segment .block .block-inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 230, ../sass/screen.scss */
.what-we-do .what-we-do-segment .block .block-inner .block-inner-inner {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 234, ../sass/screen.scss */
.what-we-do .what-we-do-segment .block .block-inner .block-inner-inner .block-inner-inner-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 238, ../sass/screen.scss */
.what-we-do .what-we-do-segment .block .block-inner .block-inner-inner .block-inner-inner-inner h1 {
  text-align: center;
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 400;
}
/* line 250, ../sass/screen.scss */
.what-we-do .what-we-do-segment .info {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 80px;
  padding-right: 0;
}
/* line 257, ../sass/screen.scss */
.what-we-do .what-we-do-segment .info p, .what-we-do .what-we-do-segment .info ol li {
  font-size: 16px;
}
/* line 260, ../sass/screen.scss */
.what-we-do .what-we-do-segment .info ol {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 264, ../sass/screen.scss */
.what-we-do .what-we-do-segment .info ol li {
  padding: 5px 0;
}
/* line 267, ../sass/screen.scss */
.what-we-do .what-we-do-segment .info h3 {
  font-size: 23px;
  font-weight: 400;
  padding-bottom: 10px;
}
/* line 275, ../sass/screen.scss */
.what-we-do .what-we-do-segment-right {
  background: #f9fbfc;
  z-index: 1;
}
/* line 279, ../sass/screen.scss */
.what-we-do .what-we-do-segment-right .block {
  float: right;
}
/* line 282, ../sass/screen.scss */
.what-we-do .what-we-do-segment-right .info {
  padding-left: 0;
  padding-right: 80px;
}

/* line 289, ../sass/screen.scss */
.excited {
  padding: 180px 0;
  background-color: #f9fbfc;
}
/* line 294, ../sass/screen.scss */
.excited .event-1 .event-left {
  background: url(../img/event01-bg.png);
}
/* line 299, ../sass/screen.scss */
.excited .event-2 .event-left {
  background: url(../img/event02-bg.png);
}
/* line 303, ../sass/screen.scss */
.excited .event {
  min-height: 350px;
  background: #fff;
  margin-top: 80px;
}
/* line 307, ../sass/screen.scss */
.excited .event .event-left {
  height: 350px;
  padding: 0;
  position: relative;
  background-size: cover;
  background-position: 40% 0;
}
/* line 313, ../sass/screen.scss */
.excited .event .event-left .event-left-inner {
  padding: 0 80px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 319, ../sass/screen.scss */
.excited .event .event-left .event-left-inner h1 {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
/* line 324, ../sass/screen.scss */
.excited .event .event-left .event-left-inner p {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
  /*padding-top: 10px;*/
}
/* line 334, ../sass/screen.scss */
.excited .event .event-right {
  height: 350px;
  position: relative;
}
/* line 337, ../sass/screen.scss */
.excited .event .event-right .event-right-inner {
  padding: 0 40px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 343, ../sass/screen.scss */
.excited .event .event-right .event-right-inner p {
  font-size: 20px;
}

/* line 351, ../sass/screen.scss */
.cta {
  background: #fff;
  padding: 140px 0;
  text-align: center;
  border-top: 1px #ebebeb solid;
}
/* line 356, ../sass/screen.scss */
.cta h1 {
  font-weight: 400;
  color: #777;
  font-size: 32px;
}
/* line 361, ../sass/screen.scss */
.cta .btn {
  background-color: #e9747b;
  width: 400px;
  padding: 30px 0;
  font-size: 16px;
  margin-top: 30px;
  font-weight: 600;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 374, ../sass/screen.scss */
.cta .btn:hover {
  background-color: #ee896c;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 383, ../sass/screen.scss */
.footer {
  background-color: #4d4658;
  padding: 140px 0;
}
