/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*$primary-color: #f4787f;*/
/* line 21, ../sass/screen.scss */
body {
  background-color: #F48F78;
}

/* line 25, ../sass/screen.scss */
h1, h2, h3, h4, h5, p, a, ol li, ul li, li {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #6d7276;
}

/* line 32, ../sass/screen.scss */
p, ol li, h3, input, textarea, ul li {
  color: #6d7276;
  font-size: 18px;
  letter-spacing: 0.5px;
}

/* line 38, ../sass/screen.scss */
strong {
  font-weight: 600;
}

/* line 42, ../sass/screen.scss */
a, a:hover {
  color: #F48F78;
  font-weight: 400;
}

/* line 48, ../sass/screen.scss */
.btn, .btn:hover, .btn:focus {
  color: #fff;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 16px 45px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  box-shadow: none;
}

/* line 60, ../sass/screen.scss */
.btn-small, .btn-small:hover, .btn-small:focus {
  padding: 12px 30px;
  background-color: #fff;
  color: #F48F78;
  margin-top: 10px;
}

/* line 68, ../sass/screen.scss */
.btn-small:hover {
  background-color: #f8f8f8;
}

/* line 72, ../sass/screen.scss */
form {
  margin-bottom: 80px;
}

/* line 76, ../sass/screen.scss */
input, textarea {
  width: 100%;
  padding: 16px 0;
  border: 1px #DBE3E9 solid;
  border-radius: 4px;
  padding-left: 20px;
  margin-top: 20px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

/* line 87, ../sass/screen.scss */
::-webkit-input-placeholder {
  color: #c9d0d6;
}

/* line 91, ../sass/screen.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #c9d0d6;
}

/* line 95, ../sass/screen.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c9d0d6;
}

/* line 99, ../sass/screen.scss */
:-ms-input-placeholder {
  color: #c9d0d6;
}

/* line 104, ../sass/screen.scss */
textarea {
  height: 150px;
  padding: 20px;
  resize: none;
  font-family: "Open Sans", sans-serif;
}

/* line 112, ../sass/screen.scss */
html input[type="button"], input[type="reset"], input[type="submit"], html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
  color: #fff;
  border: none;
  background-color: #F48F78;
  padding: 25px 0;
  font-weight: 500;
  margin-top: 30px;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
}

/* line 124, ../sass/screen.scss */
.card {
  box-shadow: 0px 0px 25.6px 1.2px rgba(0, 0, 0, 0.07);
  /*box-shadow: 0px 10px 30.14px 4px rgba(0, 0, 0, 0.1)*/
}

/* line 131, ../sass/screen.scss */
.navbar {
  width: 100%;
  background: none;
  border: none;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-radius: 0;
}
/* line 139, ../sass/screen.scss */
.navbar .navbar-nav .dropdown-menu {
  position: relative;
  float: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
/* line 145, ../sass/screen.scss */
.navbar .navbar-nav .dropdown-menu li a, .navbar .navbar-nav .dropdown-menu li a:hover, .navbar .navbar-nav .dropdown-menu li a:active, .navbar .navbar-nav .dropdown-menu li a:focus {
  background: transparent;
  font-size: 16px;
}
/* line 150, ../sass/screen.scss */
.navbar .navbar-nav .open .dropdown-menu > li > a, .navbar .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  padding: 0 0 20px 0;
}
/* line 154, ../sass/screen.scss */
.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:focus, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:active {
  background: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
}
/* line 161, ../sass/screen.scss */
.navbar .navbar-nav li a, .navbar .navbar-nav li a:hover {
  text-align: center;
  color: #fff;
  border: none;
  padding: 30px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
  opacity: .8;
  margin: 0 auto;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 177, ../sass/screen.scss */
.navbar .navbar-nav li a:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;
  /*background: rgba(255,255,255,.1);*/
}
/* line 186, ../sass/screen.scss */
.navbar .navbar-brand {
  padding-top: 34px;
  height: auto;
  margin: 0;
}

/* menu on desktop */
/* line 196, ../sass/screen.scss */
.navbar-header {
  float: none;
}

/* line 199, ../sass/screen.scss */
.navbar-toggle {
  display: block;
  padding-right: 0;
  margin-top: 12px;
}

/* line 204, ../sass/screen.scss */
.navbar-default .navbar-collapse {
  border: none;
}

/* line 207, ../sass/screen.scss */
.navbar-collapse.collapse {
  display: none !important;
}

/* line 210, ../sass/screen.scss */
.navbar-nav {
  float: none !important;
  margin: 7.5px -15px;
}

/* line 214, ../sass/screen.scss */
.navbar-nav > li {
  float: none;
}

/* line 217, ../sass/screen.scss */
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 221, ../sass/screen.scss */
.navbar-collapse.collapse.in {
  display: block !important;
  border: none;
}

/* line 226, ../sass/screen.scss */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: none;
}

/* line 230, ../sass/screen.scss */
.navbar-default .navbar-toggle {
  border: none;
}

/* line 235, ../sass/screen.scss */
.bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url(../img/bg.jpg);
  background-size: cover;
  z-index: -100;
}

/* line 244, ../sass/screen.scss */
.intro {
  padding: 120px 0 160px;
  text-align: center;
  /*background: url(../img/bg.jpg);*/
  /*background-size: cover;*/
}
/* line 250, ../sass/screen.scss */
.intro .intro-center img {
  margin-bottom: 20px;
}
/* line 253, ../sass/screen.scss */
.intro .intro-center h1 {
  font-size: 38px;
  color: #fff;
  margin-top: 0;
  font-weight: 300;
}
/* line 260, ../sass/screen.scss */
.intro .intro-center h3 {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;
  color: #fff;
}
/* line 267, ../sass/screen.scss */
.intro .intro-center ul {
  padding: 0;
}
/* line 271, ../sass/screen.scss */
.intro .intro-center li {
  font-size: 40px;
  list-style-type: none;
  color: #FFFFFF;
  display: none;
  margin-top: -10px;
  font-weight: 300;
}
/* line 279, ../sass/screen.scss */
.intro .intro-center p {
  padding: 15px 0 30px;
  color: #fff;
}
/* line 284, ../sass/screen.scss */
.intro .intro-center .btn {
  border: 2px solid #fff;
  margin-top: 40px;
  letter-spacing: 1px;
  max-width: 100%;
}
/* line 290, ../sass/screen.scss */
.intro .intro-center .btn:hover {
  background: #fff;
  color: #e9747b;
}

/* line 298, ../sass/screen.scss */
.mission {
  padding: 140px 0;
  text-align: center;
  background: #fff;
}
/* line 302, ../sass/screen.scss */
.mission h1 {
  font-size: 23px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* line 310, ../sass/screen.scss */
.header {
  font-size: 34px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 0;
  font-weight: 400;
}

/* line 320, ../sass/screen.scss */
.header-dash {
  height: 5px;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #F48F78;
}

/* line 329, ../sass/screen.scss */
.what-we-do {
  padding: 140px 0 80px;
  background: #fff;
  border-top: 1px #DBE3E9 solid;
}
/* line 333, ../sass/screen.scss */
.what-we-do .header-dash {
  margin-bottom: 0;
}
/* line 337, ../sass/screen.scss */
.what-we-do .what-we-do-segment {
  position: relative;
  background-color: #fff;
  z-index: 2;
  padding: 40px 0;
}
/* line 342, ../sass/screen.scss */
.what-we-do .what-we-do-segment .block {
  padding: 40px;
}
/* line 346, ../sass/screen.scss */
.what-we-do .what-we-do-segment .block .block-img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 60.14px 4px rgba(0, 0, 0, 0.25);
}
/* line 351, ../sass/screen.scss */
.what-we-do .what-we-do-segment .block .block-inner {
  position: absolute;
  top: 0;
  width: 85%;
  margin-top: 15%;
  margin-left: 10%;
  height: 70%;
  /*box-shadow: 0px 10px 60.14px 4px rgba(0, 0, 0, 0.25); */
}
/* line 359, ../sass/screen.scss */
.what-we-do .what-we-do-segment .block .block-inner .block-inner-inner {
  display: table;
  background: rgba(244, 120, 127, 0.9);
  width: 100%;
  height: 100%;
}
/* line 364, ../sass/screen.scss */
.what-we-do .what-we-do-segment .block .block-inner .block-inner-inner .block-inner-inner-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 368, ../sass/screen.scss */
.what-we-do .what-we-do-segment .block .block-inner .block-inner-inner .block-inner-inner-inner h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1.5px;
  font-weight: 400;
}
/* line 380, ../sass/screen.scss */
.what-we-do .what-we-do-segment .info {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 80px;
  padding-right: 0;
}
/* line 390, ../sass/screen.scss */
.what-we-do .what-we-do-segment .info p, .what-we-do .what-we-do-segment .info ol li {
  font-size: 16px;
}
/* line 396, ../sass/screen.scss */
.what-we-do .what-we-do-segment .info ol li {
  padding: 5px 0;
}
/* line 399, ../sass/screen.scss */
.what-we-do .what-we-do-segment .info h3 {
  font-size: 23px;
  font-weight: 400;
  padding-bottom: 10px;
}
/* line 407, ../sass/screen.scss */
.what-we-do .what-we-do-segment-right {
  background: #f9fbfc;
  z-index: 1;
}
/* line 411, ../sass/screen.scss */
.what-we-do .what-we-do-segment-right .block {
  float: right;
}
/* line 413, ../sass/screen.scss */
.what-we-do .what-we-do-segment-right .block .block-inner {
  margin-left: -10%;
}
/* line 417, ../sass/screen.scss */
.what-we-do .what-we-do-segment-right .info {
  padding-left: 0;
  padding-right: 80px;
}

/* line 424, ../sass/screen.scss */
.excited {
  padding: 140px 0;
  background-color: #f9fbfc;
  border-top: 1px #DBE3E9 solid;
}
/* line 428, ../sass/screen.scss */
.excited .header-dash {
  margin-bottom: 0;
}
/* line 432, ../sass/screen.scss */
.excited .event-1 .event-left {
  background: url(../img/event01-bg.jpg);
}
/* line 437, ../sass/screen.scss */
.excited .event-2 .event-left {
  background: url(../img/event02-bg.jpg);
}
/* line 442, ../sass/screen.scss */
.excited .event-3 .event-left {
  background: url(../img/event03-bg.jpg);
}
/* line 446, ../sass/screen.scss */
.excited .event {
  text-align: center;
}
/* line 448, ../sass/screen.scss */
.excited .event .event-left {
  min-height: 300px;
  margin-top: 80px;
  padding: 0;
  position: relative;
  background-size: cover;
  background-position: 40% 0;
}
/* line 455, ../sass/screen.scss */
.excited .event .event-left .event-left-inner {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 465, ../sass/screen.scss */
.excited .event .event-left .event-left-inner h1 {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
/* line 470, ../sass/screen.scss */
.excited .event .event-left .event-left-inner p {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
  /*padding-top: 10px;*/
}
/* line 481, ../sass/screen.scss */
.excited .event .event-right {
  position: relative;
  background: #fff;
}
/* line 485, ../sass/screen.scss */
.excited .event .event-right .event-right-inner {
  padding: 80px 20px;
}
/* line 487, ../sass/screen.scss */
.excited .event .event-right .event-right-inner p {
  font-size: 19px;
}

/* line 495, ../sass/screen.scss */
.cta {
  /*background: $primary-color;*/
  padding: 140px 0;
  text-align: center;
}
/* line 499, ../sass/screen.scss */
.cta h1 {
  font-weight: 400;
  color: #fff;
  font-size: 32px;
}
/* line 504, ../sass/screen.scss */
.cta .btn {
  background-color: #fff;
  width: 300px;
  max-width: 100%;
  padding: 18px 0;
  font-size: 16px;
  margin-top: 30px;
  font-weight: 600;
  color: #f4787f;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 519, ../sass/screen.scss */
.cta .btn:hover {
  background-color: #f8f8f8;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 528, ../sass/screen.scss */
.footer {
  background-color: #f9fbfc;
  padding: 80px 0 20px;
}
/* line 531, ../sass/screen.scss */
.footer iframe {
  display: inline-block !important;
  width: 49%;
}
/* line 535, ../sass/screen.scss */
.footer .social-container {
  text-align: center;
  padding-top: 80px;
}
/* line 539, ../sass/screen.scss */
.footer .social {
  padding: 0 10px 80px;
  opacity: .1;
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 552, ../sass/screen.scss */
.footer .social:hover {
  opacity: .4;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 559, ../sass/screen.scss */
.footer p {
  padding: 0 10px;
  display: inline-block;
  font-weight: 500;
  opacity: .3;
  font-size: 12px;
}

/* line 569, ../sass/screen.scss */
.info-page .navbar {
  background-color: #F48F78;
}

/* line 575, ../sass/screen.scss */
.contact-page .bg {
  background: url(../img/thumbs-up.jpg);
  background-size: cover;
  top: -20%;
}
/* line 581, ../sass/screen.scss */
.contact-page .contact .content {
  padding: 80px 0 80px;
  background: #fff;
}
/* line 585, ../sass/screen.scss */
.contact-page .contact .content .thanks {
  display: none;
}
/* line 587, ../sass/screen.scss */
.contact-page .contact .content .thanks h1 {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  padding: 140px 0;
  margin: 0;
}
/* line 597, ../sass/screen.scss */
.contact-page .contact .content contact-form-section form .btn {
  font-size: 14px;
}
/* line 603, ../sass/screen.scss */
.contact-page .contact .banner {
  padding: 180px 0 80px;
  background: rgba(81, 65, 94, 0.5);
}
/* line 606, ../sass/screen.scss */
.contact-page .contact .banner .header {
  color: #fff;
}

/* line 616, ../sass/screen.scss */
.about-page p {
  text-align: left;
  margin: 25px 0;
}
/* line 620, ../sass/screen.scss */
.about-page .about {
  text-align: center;
  padding: 140px 0 280px;
  background: #fff;
}
/* line 624, ../sass/screen.scss */
.about-page .about .header-dash {
  margin-bottom: 40px;
}
/* line 628, ../sass/screen.scss */
.about-page .about .btn {
  background: #F48F78;
  margin: 0 auto;
  margin-top: 40px;
}
/* line 634, ../sass/screen.scss */
.about-page .story {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F09A87), color-stop(1, #E1787D));
  background-image: -o-linear-gradient(bottom, #F09A87 0%, #E1787D 100%);
  background-image: -moz-linear-gradient(bottom, #F09A87 0%, #E1787D 100%);
  background-image: -webkit-linear-gradient(bottom, #F09A87 0%, #E1787D 100%);
  background-image: -ms-linear-gradient(bottom, #F09A87 0%, #E1787D 100%);
  background-image: linear-gradient(to bottom, #F09A87 0%, #E1787D 100%);
  padding: 140px 0;
}
/* line 648, ../sass/screen.scss */
.about-page .story h1 {
  color: #fff;
  font-size: 55px;
  text-align: right;
  font-weight: 600;
  position: absolute;
  width: 100%;
}
/* line 656, ../sass/screen.scss */
.about-page .story img {
  margin-top: -300px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 25.6px 1.2px rgba(0, 0, 0, 0.2);
  padding: 0;
}
/* line 662, ../sass/screen.scss */
.about-page .story p {
  color: #fff;
}
/* line 665, ../sass/screen.scss */
.about-page .story a {
  font-weight: 700;
  color: #fff;
}
/* line 670, ../sass/screen.scss */
.about-page .quote {
  padding: 140px 0;
  background: #fff;
}
/* line 673, ../sass/screen.scss */
.about-page .quote h1 {
  font-size: 24px;
  color: #5b656d;
  opacity: .7;
}

/* line 686, ../sass/screen.scss */
.event-1 .bg {
  background: url(../img/event-1-large-v2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 694, ../sass/screen.scss */
.event-2 .bg {
  background: url(../img/event-2-large.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 702, ../sass/screen.scss */
.accelerator-1 .bg {
  background: url(../img/accelerator-1-large.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 713, ../sass/screen.scss */
.event-page {
  /*background:$event-bg;*/
}
/* line 715, ../sass/screen.scss */
.event-page .segment {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px #e7eff5 solid;
}
/* line 720, ../sass/screen.scss */
.event-page .header {
  text-transform: uppercase;
  font-weight: 600;
  color: #c9d0d6;
  text-align: left;
  font-size: 14px;
  margin-bottom: 40px;
}
/* line 730, ../sass/screen.scss */
.event-page .event-content .banner {
  padding: 140px 0 30px;
  position: relative;
}
/* line 733, ../sass/screen.scss */
.event-page .event-content .banner p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  opacity: .8;
}
/* line 739, ../sass/screen.scss */
.event-page .event-content .banner h1 {
  color: #fff;
  font-weight: 600;
  font-size: 48px;
}
/* line 744, ../sass/screen.scss */
.event-page .event-content .banner h2 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
}
/* line 750, ../sass/screen.scss */
.event-page .event-content .banner .sidebar {
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 8px;
}
/* line 757, ../sass/screen.scss */
.event-page .event-content .banner .sidebar p {
  padding-top: 0;
  font-size: 12px;
  opacity: .6;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
/* line 766, ../sass/screen.scss */
.event-page .event-content .banner .sidebar a h1 {
  font-size: 20px;
  font-weight: 600;
  opacity: .6;
}
/* line 772, ../sass/screen.scss */
.event-page .event-content .banner .sidebar a:hover {
  text-decoration: none;
}
/* line 776, ../sass/screen.scss */
.event-page .event-content .banner .sidebar a h1:hover {
  opacity: 1;
}
/* line 782, ../sass/screen.scss */
.event-page .event-content .inner-content {
  background: #f9fbfc;
  margin-top: 100px;
}
/* line 785, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card {
  margin-top: -100px;
  background: #fff;
  display: block;
}
/* line 789, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card h1 {
  font-size: 26px;
  font-weight: 400;
  margin-top: 0;
}
/* line 795, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .description .row {
  margin: 0;
}
/* line 797, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .description .row .register-container {
  /*text-align: center;*/
}
/* line 799, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .description .row .register-container .btn-small {
  background: #fff;
  color: #F48F78;
  border-color: #F48F78;
  margin-top: 20px;
}
/* line 805, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .description .row .register-container .btn-small:hover {
  background: #F48F78;
  color: #fff;
  border-color: #F48F78;
}
/* line 815, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .previous-speakers .carousel .carousel-control {
  background: transparent;
  z-index: 10;
  top: auto;
  bottom: auto;
  width: auto;
  left: auto;
  opacity: .8;
}
/* line 823, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .previous-speakers .carousel .carousel-control .arrow {
  top: 0;
  margin: 0;
  margin-top: 40px;
}
/* line 831, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .previous-speakers .carousel .carousel-control:hover {
  opacity: 1;
}
/* line 835, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .previous-speakers .carousel .carousel-inner .col-md-6 {
  padding: 0 10px;
}
/* line 839, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .previous-speakers .carousel .carousel-inner .date {
  font-weight: 400;
  font-size: 24px;
  color: #F48F78;
  margin: 25px 40px 40px;
  opacity: .8;
  padding-left: 10px;
  text-align: center;
}
/* line 848, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .previous-speakers .carousel .carousel-inner .card {
  text-align: center;
  padding: 70px 20px;
  background: #fff;
  margin-bottom: 10px;
  min-height: 430px;
}
/* line 854, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .previous-speakers .carousel .carousel-inner .card .speaker-pic {
  width: 100px;
  border-radius: 100%;
}
/* line 858, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .previous-speakers .carousel .carousel-inner .card h1 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 5px;
}
/* line 863, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .previous-speakers .carousel .carousel-inner .card .occupation {
  text-align: center;
  color: #6d7276;
  opacity: .5;
  font-size: 12px;
  margin: 10px 0 20px;
}
/* line 870, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .previous-speakers .carousel .carousel-inner .card .quote {
  font-style: italic;
  font-weight: 400;
  opacity: .8;
  padding: 20px 0 20px;
}
/* line 876, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .previous-speakers .carousel .carousel-inner .card .social {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%);
  opacity: .1;
  width: 40px;
  margin: 10px 10px 0px;
}
/* line 885, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .previous-speakers .carousel .carousel-inner .card .social:hover {
  opacity: .2;
}
/* line 893, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .more-info h1 {
  margin: 80px 0 15px;
}
/* line 898, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .prices h1, .event-page .event-content .inner-content .large-card .prices h2 {
  font-size: 24px;
  font-weight: 400;
  opacity: .6;
}
/* line 904, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .prices h2 {
  font-size: 40px;
  color: #F48F78;
  opacity: 1;
  margin-top: 0;
  padding-bottom: 20px;
}
/* line 914, ../sass/screen.scss */
.event-page .event-content .inner-content .large-card .what-people-thought .quote {
  font-weight: 400;
  font-size: 18px;
  opacity: .8;
  font-style: italic;
  line-height: 1.5;
  padding: 10px 0;
}
/* line 926, ../sass/screen.scss */
.event-page .cta {
  /*background: rgba(234,117,123,.8);*/
}
/* line 928, ../sass/screen.scss */
.event-page .cta .thanks-signup {
  display: none;
}
/* line 933, ../sass/screen.scss */
.event-page .cta .signup-section input {
  margin-top: 40px;
  height: 70px;
  font-size: 18px;
  padding-left: 25px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
/* line 942, ../sass/screen.scss */
.event-page .cta .signup-section ::-webkit-input-placeholder {
  color: #fff;
  opacity: .8;
}
/* line 947, ../sass/screen.scss */
.event-page .cta .signup-section :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  opacity: .8;
}
/* line 952, ../sass/screen.scss */
.event-page .cta .signup-section ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  opacity: .8;
}
/* line 957, ../sass/screen.scss */
.event-page .cta .signup-section :-ms-input-placeholder {
  color: #fff;
  opacity: .8;
}
/* line 962, ../sass/screen.scss */
.event-page .cta .signup-section .btn-email {
  background-color: #fff;
  padding: 18px 0;
  font-size: 16px;
  font-weight: 700;
  color: #f4787f;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 974, ../sass/screen.scss */
.event-page .cta .signup-section .btn-email:hover {
  background-color: #f8f8f8;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 986, ../sass/screen.scss */
.accelerator-1 .cta h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
/* line 990, ../sass/screen.scss */
.accelerator-1 .cta .signup-section input {
  margin-top: 20px;
}

/* line 997, ../sass/screen.scss */
.news-1 .banner {
  background: url(../img/news-1-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 1006, ../sass/screen.scss */
.news-page .navbar {
  background-color: #F48F78;
}
/* line 1009, ../sass/screen.scss */
.news-page .segment {
  padding: 60px 0;
  border: none;
}
/* line 1012, ../sass/screen.scss */
.news-page .segment .news-image {
  margin: 50px 0;
}
/* line 1017, ../sass/screen.scss */
.news-page p {
  margin: 15px 0;
}
/* line 1021, ../sass/screen.scss */
.news-page .event-content .banner {
  padding: 220px 0 30px;
  position: relative;
}
/* line 1024, ../sass/screen.scss */
.news-page .event-content .banner .gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(77, 70, 88, 0) 0%, rgba(77, 70, 88, 0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77, 70, 88, 0)), color-stop(100%, rgba(77, 70, 88, 0.8)));
  background: -webkit-linear-gradient(top, rgba(77, 70, 88, 0) 0%, rgba(77, 70, 88, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(77, 70, 88, 0) 0%, rgba(77, 70, 88, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(77, 70, 88, 0) 0%, rgba(77, 70, 88, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(77, 70, 88, 0) 0%, rgba(77, 70, 88, 0.8) 100%);
}
/* line 1038, ../sass/screen.scss */
.news-page .event-content .banner h1 {
  font-size: 40px;
}
/* line 1045, ../sass/screen.scss */
.news-page .footer {
  box-shadow: none;
}

@media (max-width: 1170px) {
  /* line 1057, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .block .block-inner .block-inner-inner .block-inner-inner-inner h1 {
    font-size: 18px;
  }
  /* line 1065, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .info h3 {
    font-size: 20px;
  }
  /* line 1068, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .info p, .what-we-do .what-we-do-segment .info ol li {
    font-size: 16px;
  }

  /* line 1076, ../sass/screen.scss */
  .about-page .story h1 {
    font-size: 44px;
    text-align: left;
  }
  /* line 1080, ../sass/screen.scss */
  .about-page .story img {
    margin-bottom: 80px;
  }
}
@media (max-width: 992px) {
  /* line 1088, ../sass/screen.scss */
  .what-we-do {
    padding-bottom: 0;
  }
  /* line 1091, ../sass/screen.scss */
  .what-we-do .what-we-do-segment-right .block {
    /*float: none;*/
  }
  /* line 1093, ../sass/screen.scss */
  .what-we-do .what-we-do-segment-right .block .block-inner {
    margin-left: -15% !important;
  }
  /* line 1097, ../sass/screen.scss */
  .what-we-do .what-we-do-segment-right .info {
    padding: 60px 10px 80px;
  }
  /* line 1103, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .block {
    padding: 0;
  }
  /* line 1105, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .block .block-img {
    box-shadow: 0px 0px 25.6px 1.2px rgba(0, 0, 0, 0.07);
  }
  /* line 1108, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .block .block-inner {
    margin-left: 30%;
  }
  /* line 1112, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .block .block-inner .block-inner-inner .block-inner-inner-inner h1 {
    font-size: 22px;
  }
  /* line 1120, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .info {
    position: relative;
    transform: none;
    padding: 40px 10px 100px;
  }
  /* line 1125, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .info h3 {
    font-size: 18px;
  }
  /* line 1129, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .info p, .what-we-do .what-we-do-segment .info ol li {
    font-size: 16px;
  }

  /* line 1137, ../sass/screen.scss */
  .about-page .about {
    padding: 100px 0 240px;
  }
  /* line 1140, ../sass/screen.scss */
  .about-page .story {
    padding-bottom: 100px;
  }
  /* line 1142, ../sass/screen.scss */
  .about-page .story .story-text {
    float: right;
  }
  /* line 1146, ../sass/screen.scss */
  .about-page .quote {
    padding: 100px 0;
  }
  /* line 1148, ../sass/screen.scss */
  .about-page .quote h1 {
    font-size: 22px;
  }

  /* line 1154, ../sass/screen.scss */
  .footer iframe {
    width: 100%;
  }

  /* line 1159, ../sass/screen.scss */
  .event-page .segment {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  /* line 1165, ../sass/screen.scss */
  .event-page .event-content .banner h1 {
    font-size: 32px;
    padding-bottom: 0px;
  }
  /* line 1169, ../sass/screen.scss */
  .event-page .event-content .banner .sidebar {
    position: relative;
    padding: inherit;
    text-align: right;
  }
  /* line 1173, ../sass/screen.scss */
  .event-page .event-content .banner .sidebar h1 {
    margin-top: 5px;
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  /* line 1185, ../sass/screen.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
    padding: 0 0 20px 0;
  }

  /* line 1190, ../sass/screen.scss */
  .dropdown-menu > li > a {
    white-space: normal;
  }

  /* line 1194, ../sass/screen.scss */
  p, ul li {
    font-size: 16px;
  }

  /* line 1197, ../sass/screen.scss */
  .header {
    font-size: 28px;
  }

  /* line 1200, ../sass/screen.scss */
  .intro {
    padding: 60px 0 120px;
  }
  /* line 1203, ../sass/screen.scss */
  .intro .intro-center h1 {
    font-size: 32px;
  }
  /* line 1206, ../sass/screen.scss */
  .intro .intro-center li {
    font-size: 32px;
  }

  /* line 1211, ../sass/screen.scss */
  .mission {
    padding: 100px 0;
  }
  /* line 1213, ../sass/screen.scss */
  .mission h1 {
    font-size: 20px;
  }

  /* line 1219, ../sass/screen.scss */
  .what-we-do {
    padding-top: 100px;
  }
  /* line 1221, ../sass/screen.scss */
  .what-we-do .header-dash {
    margin-bottom: 40px;
  }
  /* line 1225, ../sass/screen.scss */
  .what-we-do .what-we-do-segment-right .block {
    float: none;
  }
  /* line 1227, ../sass/screen.scss */
  .what-we-do .what-we-do-segment-right .block .block-inner {
    margin-left: 0 !important;
  }
  /* line 1233, ../sass/screen.scss */
  .what-we-do .what-we-do-segment {
    padding: 0;
  }
  /* line 1236, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .block .block-inner {
    margin-left: 15%;
    margin-top: 10%;
    height: 80%;
  }
  /* line 1242, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .info {
    position: relative;
  }
  /* line 1245, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .info h3 {
    color: #6d7276;
  }
  /* line 1248, ../sass/screen.scss */
  .what-we-do .what-we-do-segment .info p, .what-we-do .what-we-do-segment .info ol li {
    color: #6d7276;
  }

  /* line 1255, ../sass/screen.scss */
  .excited {
    padding: 100px 0;
  }
  /* line 1258, ../sass/screen.scss */
  .excited .event .event-left {
    margin-top: 40px;
  }
  /* line 1263, ../sass/screen.scss */
  .excited .event .event-right .event-right-inner p {
    font-size: 17px;
  }

  /* line 1270, ../sass/screen.scss */
  .cta {
    padding: 100px 0;
  }
  /* line 1272, ../sass/screen.scss */
  .cta h1 {
    font-size: 32px;
  }

  /* line 1277, ../sass/screen.scss */
  .contact-page .bg {
    background-position: 50% 0;
  }
  /* line 1281, ../sass/screen.scss */
  .contact-page .contact .banner {
    padding: 120px 0 60px;
  }
  /* line 1283, ../sass/screen.scss */
  .contact-page .contact .banner .header {
    font-size: 24px;
  }

  /* line 1291, ../sass/screen.scss */
  .about-page .story h1 {
    position: relative;
    text-align: left;
  }
}
